body {
    background-color: #C4CDD4;
}

#überschrift {
    color: #ff6600;
    font-size: 300%;
    text-align: center;
    font-family: Arial
}

#navi {
    text-align: right;
    margin: 50px;
    margin-right: 300px;
}

.liste {
    border-radius: 10px;
}

div {
    background-color: #ffffff;
    max-width: 500px;
    margin: 1px auto;
    border-radius: 10px;
}

.line {
    display: inline;
}

.username {
    font-weight: bold
}

.Info {
    font-style: oblique;
    color: grey
}

hr {
    border: 1px solid;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}