body {
    background-color: #C4CDD4;
    font-family: 'Abel', sans-serif;
}

.liste {
    background-color: #C4CDD4;
}

div {
    background-color: white;
    max-width: 500px;
    margin: 1px auto;
}

.section {
    padding: 2px;
}

#one {
    border-radius: 10px 10px 0px 0px;
}

#second {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.line {
    display: inline;
}

.username {
    font-weight: bold
}

.Info {
    font-style: oblique;
    color: grey;
}

.Datum {
    float: right;
}

#navigation {
    position: absolute;
    width: 100px;
    background-color: #C4CDD4;
    top: 65px;
}

#inhalt {
    margin-left: 120px;
    top: 50px;
}

#überschrift {
    background-color: #C4CDD4;
    border-width: 1px;
    margin: 10px;
    font-family: 'Righteous', cursive;
}

#navigationsüberschrift {
    text-decoration: overline underline;
    font-weight: bold;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: greenyellow;
}

.section:hover {
    transform: scale(1.1);
}